@import "tailwindcss";
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


:root {
  --color1: #0a456c;
  --color2: #366c91;
  --color3: #6293b5;
  --color4: #8dbbda;
  --color5: #b9e2ff;
}

.bg-primary {
  background-color: var(--color1);
}
.bg-primary-gradient {
  background: linear-gradient(to right, var(--color1), var(--color3), var(--color5));
}
.bg-form-gradient {
  background: linear-gradient(to bottom right, var(--color2), var(--color3));
}
.text-primary {
  color: var(--color1);
}
.focus-ring-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color3);
}
.btn-primary {
  background-color: var(--color3);
  color: white;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: var(--color2);
}
.bg-sidebar-gradient {
  background: linear-gradient(to bottom right, var(--color1), var(--color3), var(--color5));
}
.text-sidebar {
  color: white;
}
.nav-item-active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
.nav-item-hover:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.bg-footer {
  background: linear-gradient(to right, var(--color1), var(--color3), var(--color5));
}

.text-footer {
  color: white;
}